:root {
    --header-orange: rgb(189, 72, 25);
    --black: black;
    --border-radius: 50px;
    --box-shadow: orangered 2px 2px 4px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #4d4d4d;
    min-height: 100vh;
}


figure {
    display: flex;
    justify-content: space-around;
}

article {
    display: flex;
}

/*Used a linear gradient to "pretty up" the background for this section*/
/*Used border-radius to round the corners of the box*/
section {
    display: flex;
    border: 3px solid orangered;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 50px;
    width: 600px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, orangered 10%, gray);
    color: white;
    text-shadow: var(--black) 2px 2px 4px;
    box-shadow: black 3px 3px 4px;
}

a {
    color: #ffffff;
    text-shadow: orangered 2px 2px 4px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 30px;
    display: inline-block;
    margin: 0px 15px 20px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    list-style-type: none;
}

p {
    font-size: 20px;
    margin: 10px;
}

nav {
    padding-top: 10px;
    margin-left: 0px;
    border: 0.5rem outset rgb(199, 57, 5);
    background: linear-gradient(-375deg, orangered 10%, rgb(0, 0, 0));
}

nav a:hover {
    color: orangered;
}

p a:hover {
    color: black;
}

p a:active {
    color: red;
}

h1 {
    display: flex;
    flex-direction: center;
    justify-content: center;
    padding-right: 350px;
    font-size: 80px;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    font-family: monospace, 'Courier New', Courier, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    display: block;
    padding-right: 35px;
    text-shadow: black 5px 3px 4px;
}

/*Used an image in CSS to create a background header image*/
.bonfire-header h1 {
    display: flex;
    align-items: center;
    height: 800px;
    width: 100%;
    background-image: url(./Images/bonfire\ image.png);
    background-size: cover;
    background-position: center;
}

.footer {
    margin: 15px;
    line-height: 2px;
    padding: 50px 0px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: orangered 2px 2px 4px;
}

.text-group {
    display: flex;
    text-align: center;
    align-items: center;
}

.image-group {
    display: flex;
    border: 3px solid black;
    border-radius: var(--border-radius);
    margin: 10px;
    box-shadow: var(--box-shadow);
}

.figure {
    display: flex;
}

.article {
    display: flex;
}

/*Used align-items to center the txt*/
#about-me {
    max-width: 600px;
    margin: 25px 25px 0px 25px;
    height: 600px;
}

#me-image {
    min-height: 250px;
    width: 225px;
    margin: 25px;
}

#work {
    padding: 40px;
    margin: 25px 25px 0px 25px;
    width: 1200px;
    height: 600px;
}

#work-image {
    max-height: 500px;
    width: 900px;
}

#resume {
    margin: 25px 25px 0px 25px;
    width: 920px;
    height: 400px;
}

#resume-image {
    min-height: 300px;
    width: 375px;
}

#contact-me {
    margin: 25px 25px 0px 25px;
    padding: 50px;
    width: 920px;
    height: 400px;
}

/*992px for tablets*/
@media screen and (max-width: 992px) {
    .bonfire-header {
        width: 125%;
        padding: 0px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px) {
    .figure {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 992px) {
    .article {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}


   
/*768px for large smartphones*/
@media screen and (max-width: 768px) {
    .bonfire-header {
        width: 160%;
        padding: 0px;
        margin: 0 auto;
    }
}
    
@media screen and (max-width: 768px) {
    .figure {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 768px) {
    .article {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}


/*576px for small smartphones*/
@media screen and (max-width: 576px) {
    .bonfire-header {
        width: 250%;
        padding: 0px;
        margin: 0 auto;
    }
}
    
@media screen and (max-width: 576px) {
    .figure {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 576px) {
    .article {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}