/*used :root to tag elements that needed the same treatment*/
:root {
    --header-orange: rgb(189, 72, 25);
    --black: black;
    --border-radius: 50px;
    --box-shadow: orangered 2px 2px 4px;
    --box-shadow-black: black 3px 3px 4px;
    --text-shadow-black: black 5px 3px 4px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*used flex on multiple elements to make the entire page responsive*/
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #4d4d4d;
    min-height: 100vh;
}

article {
    display: flex;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 15px 15px 15px;
}

/*Used a linear gradient to "pretty up" the background for the section element*/
/*Used border-radius to round the corners of the boxes*/
section {
    display: flex;
    border: 3px solid orangered;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 60px;
    width: 600px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, orangered 10%, gray);
    color: white;
    text-shadow: var(--black) 2px 2px 4px;
    box-shadow: var(--box-shadow-black);
}

/*used anchor element combined with ids to create clickable links that navigate to different parts of the page*/
a {
    display: flex;
    color: #ffffff;
    text-shadow: black 3px 3px 3px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 30px;
    margin: 10px 15px 20px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    list-style-type: none;
}

p {
    font-size: 23px;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-left: 0px;
    border: 0.5rem outset rgb(199, 57, 5);
    background: linear-gradient(-375deg, orangered 10%, rgb(0, 0, 0));
    width: 100%;
}

/*used hover psuedo code to make the anchor links change colors upon mouse hover*/
nav a:hover {
    color: black;
}

p a:hover {
    color: black;
}

p a:active {
    color: red;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 80px;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    font-family: monospace, 'Courier New', Courier, sans-serif;
    background-color: rgb(17, 16, 16);
    padding: 10px 0px 15px 10px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 35px;
    padding-top: 35px;
    text-shadow: var(--text-shadow-black);
}

h3 {
    display: flex;
    color: white;
    background-color: orangered;
    margin-bottom: 20px;
    font-size: 40px;
    padding-right: 35px;
    text-shadow: var(--text-shadow-black);
    padding: 10px;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 40px;
    text-shadow: var(--text-shadow-black);
}

/*Used an image in CSS to create a background header image*/
.bonfire-header {
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-image: url(./Images/bonfire\ image.png);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    padding: 0px 0px 10px 10px;
    flex:  0 1 auto;
}

.about-me {
    display: flex;
    width: 99%;
    margin: 10px;
    height: 300px;
    text-align: center;
    padding-left: 40px;
    flex:  0 1 auto;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    margin: 10px;
    height: 650px;
    padding: 15px;
    flex:  0 1 auto;
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
    height: auto;
    text-align: left;
    flex:  0 1 auto;
}

.group2 {
    display: flex;
    border: 3px solid orangered;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 60px;
    width: 90%;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, orangered 10%, gray);
    color: white;
    text-shadow: var(--black) 2px 2px 4px;
    box-shadow: var(--box-shadow-black);
    flex:  0 1 auto;
}

.group3 {
    display: flex;
    align-items: flex-start;
    border: 3px solid black;
    flex:  0 1 auto;
}

.article {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border: 3px solid orangered;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 99%;
    margin: 10px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, orangered 10%, gray);
    color: white;
    text-shadow: var(--black) 2px 2px 4px;
    box-shadow: var(--box-shadow-black);
    flex:  0 1 auto;
}

.footer {
    flex: auto;
    margin: 15px;
    line-height: 2px;
    padding: 50px 0px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: orangered 2px 2px 4px;
}

/*used this series of code and pseudo code to make my phone number appear upon hovering over the Phone# anchor tag*/
span.second {
    font-size: 40px;
}

p.hover-text .second {
    display: none;
}

p.hover-text:hover .first {
    display: none;
}

p.hover-text:hover .second {
    display: inline;
}

#work-image {
    flex-wrap: wrap;
}

/*used separate background images for the different sections to be filled out later with projects as I do them*/
#background-image1 {
    display: flex;
    height: 200px;
    width: 500px;
    background-image: url(./Images/Typing\ on\ keyboard.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: var(--box-shadow-black);
    
}

#background-image2 {
    display: flex;
    height: 200px;
    width: 500px;
    background-image: url(./Images/Computer\ coding.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: var(--box-shadow-black);
}

#background-image3 {
    display: flex;
    height: 200px;
    width: 500px;
    background-image: url(./Images/mouse\ work.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: var(--box-shadow-black);
}

#background-image4 {
    display: flex;
    height: 200px;
    width: 500px;
    background-image: url(./Images/Resume\ img.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: var(--box-shadow-black);
}

/*used the border id to wrap all the images in borders*/
#border {
   border: 3px solid black;
   border-radius: 30px;
   box-shadow: var(--box-shadow-black);
}

/*used media querys to make the page responsive on screens smaller than a desktop ie. smart phones and tablets*/
/*768px to 992px for tablets*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .bonfire-header,
    header,
    nav {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992) {
    h2 {
        padding: 0px 0px 0px 0px;
    }
}

/*576px to 768px for large smartphones*/
@media screen and (min-width: 576px) and (max-width: 768px) {
    .bonfire-header,
    header,
    nav {
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .work,
    #border {
        width: 98%;
    }
}
    
@media screen and (min-width: 576px) and (max-width: 768px) {
    .about-me {
        width: 98%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    p {
        width: 100%;
        font-size: 15px; 
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .group,
    .group2 {
        width: 97%;
        margin: 20px 20px 20px 12px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .article,
    h4 {
        width: 100%;
        font-size: 30px;
    }
}

/*576px for small smartphones*/
@media screen and (max-width: 576px) {
    .bonfire-header
     {
        width: 110%;
    }
}

@media screen and (max-width: 576px) {
    .about-me,
    p {
        width: 104%; 
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    .work,
    #border {
        width: 104%
    }
}

@media screen and (max-width: 576px) {
    .article,
    h4 {
        width: 98%;
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    span.first
     {
        margin-left: -10px;
    }
}
