:root {
    --header-orange: rgb(189, 72, 25);
    --black: black;
    --border-radius: 50px;
    --box-shadow: orangered 2px 2px 4px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

body {
    background-color: #4d4d4d;
    min-height: 100vh;
}

article {
    display: flex;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 15px 15px 15px;
}

/*Used a linear gradient to "pretty up" the background for the section element*/
/*Used border-radius to round the corners of the boxes*/
section {
    display: flex;
    border: 3px solid orangered;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 60px;
    width: 600px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, orangered 10%, gray);
    color: white;
    text-shadow: var(--black) 2px 2px 4px;
    box-shadow: black 3px 3px 4px;
}

a {
    display: flex;
    color: #ffffff;
    text-shadow: black 3px 3px 3px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 30px;
    margin: 10px 15px 20px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    list-style-type: none;
}

p {
    font-size: 23px;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: right;
    margin-left: 0px;
    border: 0.5rem outset rgb(199, 57, 5);
    background: linear-gradient(-375deg, orangered 10%, rgb(0, 0, 0));
    width: 100%;
}

nav a:hover {
    color: black;
}

p a:hover {
    color: black;
}

p a:active {
    color: red;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 80px;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    font-family: monospace, 'Courier New', Courier, sans-serif;
    background-color: rgb(17, 16, 16);
    padding: 10px 0px 15px 10px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    display: block;
    padding-right: 35px;
    text-shadow: black 5px 3px 4px;
}

h3 {
    display: flex;
    color: white;
    background-color: orangered;
    margin-bottom: 20px;
    font-size: 40px;
    padding-right: 35px;
    text-shadow: black 5px 3px 4px;
    padding: 10px;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 40px;
    text-shadow: black 5px 3px 4px;
}

/*Used an image in CSS to create a background header image*/
.bonfire-header {
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-image: url(./Images/bonfire\ image.png);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    padding: 0px 0px 10px 10px;
}

.about-me {
    display: flex;
    width: 99%;
    margin: 10px;
    height: 300px;
    text-align: center;
    padding-left: 40px;
}

.work {
    display: flex;
    width: 99%;
    margin: 10px;
    height: 600px;
    text-align: right;
    justify-content: space-around;
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
    height: auto;
    text-align: left;
}

.group2 {
    border: 3px solid orangered;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 60px;
    width: 850px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, orangered 10%, gray);
    color: white;
    text-shadow: var(--black) 2px 2px 4px;
    box-shadow: black 3px 3px 4px;
}

.article {
    padding: 15px;
    border: 3px solid orangered;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 99%;
    margin: 10px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, orangered 10%, gray);
    color: white;
    text-shadow: var(--black) 2px 2px 4px;
    box-shadow: black 3px 3px 4px;
}

.footer {
    margin: 15px;
    line-height: 2px;
    padding: 50px 0px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: orangered 2px 2px 4px;
}

span.second {
    font-size: 40px;
}

p.hover-text .second {
    display: none;
}

p.hover-text:hover .first {
    display: none;
}

p.hover-text:hover .second {
    display: inline;
}

#background-image1 {
    display: flex;
    height: 275px;
    width: 400px;
    background-image: url(./Images/Typing\ on\ keyboard.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: black 2px 2px 4px;
    
}

#background-image2 {
    display: flex;
    height: 275px;
    width: 400px;
    background-image: url(./Images/Computer\ coding.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: black 2px 2px 4px;
}

#background-image3 {
    display: flex;
    height: 275px;
    width: 400px;
    background-image: url(./Images/mouse\ work.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: black 2px 2px 4px;
}

#background-image4 {
    display: flex;
    height: 275px;
    width: 400px;
    background-image: url(./Images/Resume\ img.jpg);
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--header-orange);
    text-shadow: white 2px 2px 4px;
    align-content: end;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: black 2px 2px 4px;
}

#border {
   border: 3px solid black;
   border-radius: 30px;
}

/*992px for tablets*/
@media screen and (max-width: 992px) {
    .bonfire-header,
    header,
    nav {
        width: 103%;
    }
}

@media screen and (max-width: 992px) {
    .work,
    #border {
        width: 99%;
    }
}

/*768px for large smartphones*/
@media screen and (max-width: 768px) {
    .bonfire-header,
    header,
    nav {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .work,
    #border {
        width: 98%;
    }
}
    
@media screen and (max-width: 768px) {
    .about-me {
        width: 98%;
    }
}

@media screen and (max-width: 768px) {
    p {
        width: 110%;
        font-size: 20px; 
    }
}

@media screen and (max-width: 768px) {
    .group,
    .group2 {
        width: 98%;
        margin: 5px 20px 20px 20px;
    }
}

@media screen and (max-width: 768px) {
    .article,
    h4 {
        width: 98%;
        font-size: 30px;
    }
}

/*576px for small smartphones*/
@media screen and (max-width: 576px) {
    .bonfire-header,
    header,
    nav {
        width: 107%;
        
    }
}
    
